*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}   /*resetto il CSS*/

.clearfix::after{    /*così da non far collassare il div che contiene le tre sotto sezioni*/
    content: " ";
    clear: both;
    display:table;
}

.container{ 
    width: 70%;
    margin: 10px auto;
}

.debug .container{  /*controllare*/
    height:100%;
    border:2px dashed red;
}

header{
    height: 50px;
    background-color: violet;
    margin-bottom: 10px;
}

.section-1{
    background-color: rgb(145, 145, 5);
    margin-bottom: 10px;
}

.debug .section-1{
    height: 500px;
}

.section-2{
    background-color: rgb(37, 34, 224);
    margin-bottom: 5px;
}

.debug .section-2{
    height: 500px;
}

.section-2-top{
    background-color: cyan;
    margin-bottom: 5px;
}

.debug .section-2-top{
    height: 195px;
}

.left-col{
    width: 20%;
    background-color: cyan;
    float:left;
    margin-bottom: 5px;
}

.debug .left-col{
    height: 295px;
}

.center-col{
width:56%;
background-color: cyan;
float:left;
margin-left:2%;
margin-right:2%;
margin-bottom: 5px;
}
.debug .center-col{
    height: 295px;
}

.right-col{
    width: 20%;
    background-color: cyan;
    float:left;
    margin-bottom: 5px;
}

.debug .right-col{
    height: 295px;
}

.footer{
    background-color: rgb(98, 3, 98);
}

.debug .footer{
    height: 20px;
    /*border:2px dashed green;*/
}