*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

body{
    padding:0px 150px 30px 150px;
}

header{
    height: 70px;
    background-color: violet;
}

#section-1{
    height:500px;
    background-color: rgb(145, 145, 5);
    margin-top:30px;
    margin-bottom:30px;
}

#section-2{
    height: 500px;
    background-color: rgb(55, 120, 226);
    margin-bottom: 10px;
}

#section-2-top{
    height:100px;
    border-bottom: 10px solid rgb(7, 22, 153);
}

#section-2-bottom::after{ /*così da non far collassare il div che contiene le tre sotto sezioni*/
    height: 400px;
    content:" ";
    display:table;
    clear:both;
}

#left{
    width: 20%;
    height:400px;
    float:left;
   /* border-right: 10px solid rgb(7, 22, 153);*/
    border-bottom:10px solid rgb(7, 22, 153);
}

#center{
width:60%;
height: 400px;
float:left;
border-bottom:10px solid rgb(7, 22, 153);
border-left:10px solid rgb(7, 22, 153);
border-right:10px solid rgb(7, 22, 153);
}

#right{
    width: 20%;
    height: 400px;
    float:left;
    border-bottom:10px solid rgb(7, 22, 153);
}

footer{
    height: 30px;
    background-color: rgb(98, 3, 98);
}